<!doctype html>
<html>
  <head>
    <meta charset="utf-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="keywords" content="Trier,Petrisberg,Kell am See,Ergotherapie,Integration,Häusliche Pflege,Kurzzeitpflege,Linkshändertraining,energetisches Neurofeedback,Kinderyoga">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Ergotherapie mit Herz!</title>
    <link href='http://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Dancing+Script' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "bootstrap", "bootstrap-theme.min", "docs", "my"%>
    <%= javascript_include_tag  "jquery.min" %>
    <%= javascript_include_tag  "bootstrap.min" %>
    <%= javascript_include_tag  "my" %>
  </head>
  
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <header class="jumbotron subhead">
      <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
          <img class="img-responsive" src="/images/logo_small.png" >
        </div>
      </div>
    </header>
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="/"><img class="image-responsive" src="/images/logo_very_small1.png"></img>   Ergotherapie mit Herz</a-->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!--<ul class="nav navbar-nav nav-justified">-->
          <ul class="nav navbar-nav">
            <li id="index" class="top-menu"><a href="/index.html">Startseite</a></li>

            <li id="praxis" class="dropdown top-menu"> 
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Praxis <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="praxis_petrisberg.html">Petrisberg</a></li>
                <li><a href="praxis_kell.html">Kell am See</a></li>
              </ul>
            </li>
            

            <li id="team" class="dropdown top-menu"> 
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/team/carmen_mueller.html">Carmen Müller</a></li>
                <li><a href="/team/leo_pfeil.html">Leo Pfeil</a></li>
                <li><a href="/team/ralph_thiel.html">Ralph Thiel</a></li>
                <li><a href="/team/christina_berens.html">Christina Berens</a></li>
                <li><a href="/team/anita_becker.html">Anita Becker</a></li>
                <li><a href="/team/claudia_zender.html">Claudia Zender</a></li>
                <li><a href="/team/eva_traut.html">Eva Traut</a></li>              
                <li><a href="/team/cordula_meis.html">Cordula Meis</a></li>
              </ul>
            </li>
            
            <li class="dropdown top-menu" id="ergotherapie" >
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ergotherapie <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/was_ist_ergotherapie.html">Was ist Ergotherapie</a></li>
                <li><a href="/paediatrie.html">Pädiatrie/Kinderheilkunde</a></li>
                <li><a href="/psychatrie.html">Psychiatrie</a></li>
                <li><a href="/orthopaedie.html">Orthopädie / Unfallchirurgie</a></li>
                <li><a href="/neurologie.html">Neurologie</a></li>
                <li><a href="/eindruecke.html">Eindrücke Ergotherapie</a></li>
              </ul>
            </li>            
            <li class="dropdown top-menu" id="zusatzangebot" >
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Zusatzangebot <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/linkshaenderberatung.html">Linkshänderberatung und Überprüfung/Training</a></li>
                <li><a href="/krisenberatung.html">Krisenberatung</a></li>
                <li><a href="/energetisches_neurofeedback.html">Energetisches Neurofeedback</a></li>
                <li><a href="/kinderyoga.html">Kinderyoga</a></li>
                <li><a href="/integrationsbegleitung.html">Integrationsbegleitung</a></li>
                <li><a href="/kurzzeitbetreuung.html">Kurzzeitbetreuung für Zuhause</a></li>
              </ul>
            </li>
            <li id="links" class="top-menu"><a href="/links.html">Links</a></li>
            <li id="kontakt" class="top-menu"><a href="/kontakt.html">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid" id='main-content'>
        <div class="row">     
          <div class="col-md-2"></div>  
          <div class="col-md-8">
              <%= yield %>
          </div>
          <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container-fluid container-fluid-gras" id="grass"><div class="row"><div class="col-md-12"></div></div></div>
    <footer class="bs-docs-footer" role="contentinfo"> 
      <div id="footer"> 
        <div class="container-fluid" >
          <section>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <strong><h3>Carmen Müller, Praxis für Ergotherapie und Lerntherapie</h3></strong>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                Praxis Kell am See<br/>
                Gartenfeldstrasse 24<br/>
                54427 Kell am See<br/>
                Tel. 06589-919129<br/>
                Fax  06589-915550<br/>
              </div>
              <div class="col-md-3">
                Therapiezentrum Petrisberg<br/>
                Rudi Schillings-Strasse 7<br/>
                54296 Trier<br/>
                Tel. 0651-17044091
              </div>
              <div class="col-md-2">
                email: <a href="mailto:info@ergo-mit-herz.de" style="color: #d50a28"><i class="icon-envelope"></i> <u>info@ergo-mit-herz.de</u></a><br/><br/><br/>
                <a style="color: #d50a28" href="/impressum.html"><u>Impressum</u></a>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>

          </section>
        </div>
      </div>
    </footer>
  </body>

  <a href="#" class="scrollup">Scroll</a>
  <script type="text/javascript">
    $(document).ready(function(){ 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        }); 
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56639875-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
