<!doctype html>
<html>
  <head>
    <meta charset="utf-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Ergotherapie mit Herz!</title>
    
    <%= stylesheet_link_tag "bootstrap", "bootstrap-theme.min", "docs.min", "my"%>
    <%= javascript_include_tag  "jquery.min" %>
    <%= javascript_include_tag  "bootstrap.min" %>
    <%= javascript_include_tag  "my" %>
  </head>
  
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ergotherapie mit Herz</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="index"><a href="index.html">| Praxis</a></li>
            <li id="ergotherapi"><a href="ergotherapie.html">| Ergotherapie</a></li>
            <li id="team"><a href="team.html">| Team</a></li>
            <li id="anfahrt"><a href="anfahrt.html">| Anfahrt</a></li>
            <li id="links"><a href="links.html">| Links</a></li>
            <li id="kontakt"><a href="kontakt.html">| Kontakt</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!--header class="jumbotron subhead">
      <div class="container">
        <img src="/images/wappen_small.jpg">
      </div>
    </header-->
    <div class="container" id='main-content'>
      <!--div class="row"-->
        <!--div class="col-md-12"-->
          <%= yield %>
        <!--/div-->
      <!--/div-->
    </div>

    <footer class="bs-docs-footer" role="contentinfo">
      <p>Ergotherapie mit Herz!</p>
      <p>
        <a href = "/kontakt.html"><i class="icon-user"></i> <u>Kontakt</u><span class="divider"> | </span>
        <a href = "/kontakt.html"><i class="icon-comment"></i> <u>Impressum</u><span class="divider"> | </span>
        <a href="mailto:info@ergo-mit-herz.de"><i class="icon-envelope"></i> <u>info@ergo-mit-herz.de</u></a><span class="divider">
      </p>
    </footer>
  </body>

  <a href="#" class="scrollup">Scroll</a>
  <script type="text/javascript">
    $(document).ready(function(){ 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        }); 
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
  </script>
</html>